<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p><br>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p></br>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p><br>
<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>
<%= image_tag@product.image_url %><br>
<%= link_to 'Edit', edit_product_path(@product)%><br>
<%= link_to 'Back', products_path %>

<%= render 'new_comment' %>

<div class="product-reviews">
    <% @comments.each do |comment| %>
        <div class="row">
            <hr>
            <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
            <p><%= "Rating: #{comment.rating}/5" %></p>
            <p><%= comment.body %></p>
        </div>
    <% end %>
</div>