<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p><br>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p></br>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p><br>
<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<%= image_tag@product.image_url %><br>
<%= render 'new_comment' %>

<%= link_to 'Edit', edit_product_path(@product)%><br>
<%= link_to 'Back', products_path %>
